.dashboard-form-container {
    width: 100%;
    padding: 0 10px;
}

.dashboard-form {
    border-radius: 4px;
    text-align: center;
    background: white;
    max-width: 400px;
    margin: 100px auto;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.form-footer {
    background-color: #f6f6f6;
    border-top: 1px solid #f1dcdc;
    padding: 25px;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.form-footer a {
    color: #808080;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

.form-footer a:hover {
    color: #5b5b5b;
}

.input-container {
    width: 100%;
    max-width: 200px;
    margin: 10px auto;

}

.input-container label {
    display: block;
    text-align: left;
    font-size: 14px;
    text-transform: capitalize;
}

.input-container input {
    text-align: center;
    width: 100%;
    font-size: 16px;
    background-color: #f6f6f6;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #f6f6f6;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.input-container input:focus {
    outline: none;
    background-color: #fff;
    border-bottom: 2px solid #e51337;
}


.btn-container.submit input {
    background-color: #e51337;
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    -webkit-box-shadow: 0 10px 30px 0 rgba(229, 19, 55, 0.4);
    box-shadow: 0 10px 30px 0 rgba(229, 19, 55, 0.4);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 20px auto 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-container.submit input:hover,
.btn-container.submit input:focus {
    background-color: #d50024;
}

.flash-message {
    max-width: 300px;
    margin: 20px auto 0;
    border: 1px solid black;
    display: flex;
    text-align: center;
}