.main-nav {
    padding-right: 10px;
}

.main-nav a {
    text-decoration: none;
    margin: 0 10px;
    color: #444;
    font-weight: 500;
    transition: border-bottom .5s;
    transition: color .5s;
}

.active,
.main-nav a:hover,
.main-nav a:focus {
    color: black;
    border-bottom: 2px solid #e51337;
}

@media(max-width:600px) {
    .main-nav {
        display: none;
    }
}