.main-header {
    padding: 10px;
    width: 99%;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    /*TEST*/
    border: 1px dotted black;
}

.main-header-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.main-logo img {
    max-width: 250px;
}

.spacer {
    flex: 1;
}