.main-header {
    padding: 15px;
    width: 99%;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #ededed;
    transition: box-shadow 0.3s ease-in-out;
}

.scrolled {
    box-shadow: 0px -4px 10px #606060;
}

.main-header-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
}

.main-logo img {
    max-width: 250px;
}

.spacer {
    flex: 1;
}

@media(max-width:570px) {
    .main-logo {
        margin: auto;
    }

    .main-logo img {
        max-width: 220px;
    }

    .spacer {
        display: none;
    }
}